@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao CRUD Cliente/Fornecedor</h1>
    <p>Esta aplicação foi criado com ASP.NET Core MVC.</p>
</div>
